* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.center-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.space-between-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
